* {
  font-family: 'Roboto', sans-serif;
}

.h_block {
  padding-top: 172px;
}

.txt_box_h2 {
  margin-top: 40px;
}

h1 {
  text-transform: uppercase;
  text-align: center;
}

.start_block {
  height: 983px;
  display: contents;
}

container {
  max-width: 1344px;
}

.resum {
  background-color: #4e4da7;
  padding-top: 35px;
}

.title {
  text-align: center;
}

.flex_content_box {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.skills {
  list-style: none;
}

.courses {
  list-style: none;
}

.interests {
  list-style: none;
}

.skill {
  display: inline-block;
  border-radius: 5px;
  padding: 10px;
  background: #d9daff;
  margin: 7px;
}

.box {
  margin-top: 43px;
  padding: 10px;
  background-color: #97a2e5;
  border-radius: 5px;
}

.projects {
  list-style-image: url(img/git.png);
}

li {
  margin-top: 14px;
}

.git {
  margin-top: 8px;
}

.p {
  margin-left: 30px;
}

.b {
  margin-top: -53px;
}

.project {
  display: flex;
}

.paper {
  width: 73%;
  margin: 0px auto;
  padding: 37px;
  background-color: #fff;
  border-radius: 5px;
}

.inf {
  list-style: none;
}

.i {
  margin-left: 16px;
}

.o {
  margin-right: 1px;
}

.q {
  display: inline-block;
}

.in {
  background-color: #97a2e5;
  border-radius: 5px;
  border-style: dashed;
  background: #d9daff;
}

span {
  display: block;
  margin: 12px;
}

.txt_box {
  border: 3px #000000 solid;
  border-style: dashed;
  background-color: #d9daff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  margin: auto;
  max-width: 1410px;
  margin-top: 75px;
}

.txt_box_h2 {
  text-align: justify;
  padding: 12px;
  border-radius: 6px;
}

.ttl {
  width: max-content;
  background: #42425e;
  border: 5px solid #42425e;
  border-radius: 5px;
  color: #fff;
}

.ttl {
  padding: 6px 6px 1px 6px;
}

.img_d {
  display: block;
  position: relative;
  z-index: 2;
  
  padding-right: 99px;
  padding-top: 75px;
  margin-left: auto;
  margin-right: auto;
}

html, body {
  width: 100%;
}

body {
  background: linear-gradient(-45deg, #ffffff, #9879bb, #23a6d5, #ffffff);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.title-text {
  width: max-content;
  background: #42425e;
  border: 5px solid #42425e;
  border-radius: 5px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.footer {
  background-color: #000000c2;
  color: #fff;
}

.social-icons {
  text-align: center;
}

.social-icons li {
  background-color: #f0ffff;
}

.social-icons li {
  display: inline-block;
}

.contacts li {
  display: inline-block;
}

.social-icons li {
  margin-right: 20px;
  height: 58px;
  width: 58px;
  list-style-type: none;
  border-radius: 50px;
}

.social-icons li a {
  border-bottom: none;
}

.icon_img {
  width: 39px;
  padding-top: 9px;
}

.contacts {
  text-align: center;
  list-style-type: none;
}

/*  */

*{
    margin: 0px;
    padding: 0px;
}




/* .area{ */
    /* background: #4e54c8;   */
    /* background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);   */
    /* width: 100%; */
    /* height:100vh; */
    
   
/* } */

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 967px;
    overflow: hidden;
  }
  
  .circles li{
    z-index: 1;
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: #42425e;
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

@media (min-width: 1991px) {
  .img_d{
    width: 835px;
  }
}

@media (max-width: 1991px) {
    .img_d{
      width: 42%;
    }
}

@media (max-width: 1440px) {
  .img_d{
    padding-top: 90px;
  }
  .start_block {
    height: 967px;
}
}

@media (max-width: 1024px) {
  .img_d{
    padding-top: 102px;
  }

}

@media (max-width: 768px) {
  .img_d{
    display: none;
  }
  .txt_box{
     border: none;
     border-style: none;
     border-radius: 0px;
  }
  .start_block {
  display: block;
  }
  
  .paper{
    width: 97%;
  }

  .container {
    max-width: 1582px;
}

}

@media (max-width: 453px) {
  .img_d{
    display: none;
  }
  .txt_box{
     border: none;
     border-style: none;
     border-radius: 0px;
  }

}

@media (max-width: 425px) {
  .img_d{
    display: none;
  }
  .txt_box{
     border: none;
     border-style: none;
     border-radius: 0px;
  }
  .ttl {
    width: min-content;
   }

}

/* @media (max-width: 375px) {




} */

@media (max-width: 426px) {
  *{
    font-size: small;
  }
  .txt_box{
    font-size: medium;
 }


}

/* border: none; */
    /* border-style: none; */
    /* border-radius: none; */
